.contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  width: 80vw;

  .contact__h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}

.contact__form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  width: 80vw;

  margin: 4rem auto 0;
  color: #344054;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  div {
    width: 100%;
    // border: 2px solid green;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid #d0d5dd;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-in-out;

    & + .error__text {
      display: none;
      color: #f83f23;
      font-weight: 400;
    }

    &::placeholder {
      color: #667085;
      font-weight: 400;
    }

    &:focus:invalid {
      border: 1px solid #f89687;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ffd3cc;

      & + .error__text {
        display: block;
      }
    }

    &:focus:valid {
      border: 1px solid #84caff;

      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
    }
  }

  .contact__form__name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6px;

    textarea {
      min-height: 9rem;
    }
  }

  .contact__form__terms {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #475467;

    @media screen and (max-width: 500px) {
      gap: 4px;
      align-items: flex-start;
    }

    input[type="checkbox"] {
      appearance: none;
      width: 25px;

      height: 20px;

      border-radius: 6px;
      border: 1px solid #d0d5dd;
      position: relative;
      transition: all 0.3s ease-in-out;

      outline: none;
      &:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      }
      &:checked {
        border-color: #1570ef;

        &:before {
          content: "\2713";
          width: 100%;
          height: 100%;
          display: block;

          text-align: center;
          color: #1570ef;
          font-weight: 900;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  button {
    width: 100%;
    background-color: #1570ef;
    border-radius: 8px;
    outline: none;
    border: 1px solid #1570ef;
    padding: 12px 20px;
    color: white;
    &:hover {
      background-color: #175cd3;
    }
    &:focus {
      background-color: #1570ef;
      border: 1px solid rgba(81, 203, 238, 1);
      box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    }
  }
}
